*{
    box-sizing: border-box;
}

.layout {
    height:100vh;
    display: grid;
    grid-template-areas: 
        "h h h h h h h h h h h h"
        "s s s s s s s s a a a a"
        "f f f f f f f f f f f f";
    grid-template-rows: 100% 1fr 10%;
}

.container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

section,
aside,
footer {
    margin: 0;
    padding: 5px;
    border-radius: 2px;
}

/* header start */
header {
    grid-area: h;
    background-color: #03a9f4;
    background-image: url("pic/pexels-katie-e-3662926.jpg");
    background-size: cover;

}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}

header .logo img {
    display: block;
    width: 50px;
}

header .links {
    position: relative;
}

header .links .icon {
    width: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}

header .links:hover .icon span:nth-child(2) {
    width: 100%;
}

header .links .icon span {
    background-color: black;
    margin-bottom: 5px;
    height: 2px;
    width: 100%;
}

header .links .icon span:nth-child(2) {
    width: 60%;
    transition: 0.3s;
}

header ul {
    list-style: none;
    position: absolute;
    right: 0px;
    min-width: 200px;
    background-color:rgba(0, 0, 0, 0.2);
    padding: 0px;
    margin-top: 10px;
    display: none;
    z-index: 1;
    border-radius: 3px;
}

header ul::before {
    content: "";
    position: absolute;
    width: 0px;
    height: 0px;
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
    top: -20px;
    right: 5px;
}

header .links:hover ul {
    display: block;
}

header li {
    padding: 15px;
}

header li:not(:last-child) {
    border-bottom: 1px solid black;
}

header a {
    position: relative;
    text-decoration: none;
    color: white;
    transition: 0.3s;
}

header a:hover {
    padding-left: 20px;
}

.name {
    position: absolute;
    top: 40%;
}

h1,
h2 {
    color: #03a9f4;
    text-shadow: 1px 1px 2px black;
}
/* header end */

/* main body */
section {
    grid-area: s;
    background-color: #ff5722;
}

aside {
    grid-area: a;
    background-color: #faeb20;
}

aside::before {
    content: "aside";
}

footer {
    grid-area: f;
    background-color: #009688;
}

footer::before {
    content: "footer";
}

/* inside section */
.grid {
    background-color: #eee;
    padding: 40px;
    display: grid;
    gap: 20px;
    grid-template-areas: 
        "o o t th"
        "fo fi fi th"
        "fo s s th"
        "f f f f";
    grid-template-rows: 50vh 50vh 50vh 50vh;
    justify-content: center;
}

.grid div {
    position: relative;
    border-bottom: 3px solid #ff460c;
    border-radius: 5px;
    padding: 0 10px 10px 10px;
    overflow: hidden;

}

.grid div::after {
    content: "\"";
    position: absolute;
    color: gray;
    font-size: 2em;
    right: 5px;
    bottom: -17px;
    transform: rotate(15deg);
}

h4 {
    color: gray;
}

.blk h4 {
    color: gray;
}

h3,
h4::first-letter {
    text-transform: capitalize;
}

article {
    width: 100%;
    height: auto;
}

.pic {
    width: 100%;
    height: auto;
    display: block;
}

.grid div:hover,
.pic:hover {
    filter: drop-shadow(8px 8px 10px gray);
    transform: scale(1.05);
}

.bold {
    font-weight: bolder;
    font-size: 1.1em;
}

.wit {
    background-color: white;
}

.blk {
    background-color: #03a9f4;
    color: #eee;
}

#one {
    grid-area: o;
}

#two {
    grid-area: t;
}

#three {
    grid-area: th;
}

#four {
    grid-area: fo;
}

#five {
    grid-area: fi;
}

#six {
    grid-area: s;
}